nav.navbar.navbar-default.navbar-fixed-top.navbar-default--whitebg
  .container-fluid
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      |  
      a.navbar-brand(href='javascript:void(0);')
        img(src="img/factspan-logo.png")
    #myNavbar.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li
          a.navbar-toggle(href='javascript:void(0);')
            span.fa.fa-bars