aside
    .overlay
    .factspan-sidenav
        .container
            .row
                .col-sm-12.factspan-sidenav__header
                    img.factspan-sidenav__header__logo(src="img/logo.png")
                    a.factspan-sidenav__header__close-btn(href="javascript:void(0);", id="sidenav-close-btn") X
                .col-sm-12.factspan-sidenav__body
                    ul
                        li
                            a.factspan-sidenav__links(href="javascript:void(0);") 
                                | about us
                        li
                            a.factspan-sidenav__links.factspan-sidenav__links--expertise.bottom-padding-2(href="javascript:void(0);")
                                | expertise
                                span.factspan-sidenav__link-arrow
                            ul.factspan-sidenav__sub-links__container
                                li
                                    a.factspan-sidenav__sub-links(href="javascript:void(0);")
                                        | business function
                                li
                                    a.factspan-sidenav__sub-links(href="javascript:void(0);")
                                        | industries
                                li
                                    a.factspan-sidenav__sub-links(href="javascript:void(0);")
                                        | offerings 
                                li
                                    a.factspan-sidenav__sub-links(href="javascript:void(0);")
                                        | partnership
                        li
                            a.factspan-sidenav__links.factspan-sidenav__links--approach(href="javascript:void(0);") 
                                | our approach
                                span.factspan-sidenav__link-arrow
                            ul.factspan-sidenav__sub-links__container
                                li
                                    a.factspan-sidenav__sub-links(href="javascript:void(0);")
                                        | business function
                                li
                                    a.factspan-sidenav__sub-links(href="javascript:void(0);")
                                        | industries
                                li
                                    a.factspan-sidenav__sub-links(href="javascript:void(0);")
                                        | offerings 
                                li
                                    a.factspan-sidenav__sub-links(href="javascript:void(0);")
                                        | partnership
                        li
                            a.factspan-sidenav__links(href="javascript:void(0);") 
                                | our work
                        li
                            a.factspan-sidenav__links(href="javascript:void(0);") 
                                | careers
                        li
                            a.factspan-sidenav__links(href="javascript:void(0);") 
                                | contact us

