.factspan-aboutus {

    @media (min-width: $sm){
        padding: 20px;
    }

    &__title {
         @include font-style( $oswald-regular, 20px, $darkblue );
         text-align: center;
         text-transform: uppercase;
         margin: 0 auto;
         opacity: 0.6;
         width: 260px;

         @media (min-width: $sm){
             font-size: 22px;
             line-height: 36px;
         }

    }
    &__logo {
        display: block;
        margin-left: auto;
        margin-bottom: 70px;
        height: 80px;
        opacity: 0.4;
        position: relative;

        @media (min-width: $sm){
            height: 150px;
        }


    }

    &__features-list {
        @media (min-width: $sm){
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__feature {
        margin: 0 15px;
        height: 170px;
        position: relative;

        @media (min-width: $sm){
            height: 410px;
            width: 620px;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            background: rgb(235,136,89);
            background: -webkit-linear-gradient(180deg, rgb(235,136,89),rgb(204,89,81));
            background: linear-gradient(180deg,rgb(235,136,89),rgb(204,89,81));
            opacity: 0.3; 
        }

        &__heading {
            @include font-style( $oswald-regular, 14px, $textcolor-orange );
            text-transform: uppercase;
            margin-top: 0;
            margin-bottom: 20px;

            @media (min-width: $sm){
                font-size: 22px;
                line-height: 36px;
            }
        }

        &__details {
            @include font-style( $raleway-regular, 12px, $darkblue );
            margin: 0;
            font-weight: 600;
            opacity: 0.8;
            line-height: 21px;

             @media (min-width: $sm){
                font-size: 14px;
                line-height: 27px;
            }
            
            span {
                color: $textcolor-orange;
            }

            &--6 {
                @include font-style( $raleway-light, 14px, $darkblue );
                line-height: 26px;
                opacity: 1;

                @media (min-width: $sm){
                    font-size: 24px;
                    line-height: 41px;
                }

            }
        }

        &__content-card {
            padding: 20px 15px 25px 20px;
            background-color: $white;
            position: absolute;
            z-index: 20;
            width: 240px;
            box-shadow: $card-boxshadow;

            @media (min-width: $sm){
                width: 510px;
                padding: 60px 65px;
            }

            &::after {
                content: '';
                width: 23px;
                height: 23px;
                background-color: $white;
                box-shadow: $card-boxshadow;
                position: absolute;

                @media (min-width: $sm){
                    height: 30px;
                    width: 30px;
                }

                @media (min-width: $sm){
                    height: 40px;
                    width: 40px;
                }
            }

            &--1 {
                top: -60px;
                left: -15px;

                @media (min-width: $sm){
                    left: -50px;
                }

                @media (min-width: $md){
                    left: -100px;
                }
                
                &::after {
                    bottom: -15px;
                    left: -11px;
                }
            }

            &--2 {
                top: 20px;
                right: -20px;
                
                @media (min-width: $sm){
                    right: -50px;
                }

                @media (min-width: $md){
                    right: -100px;
                }

                &::after {
                    bottom: -15px;
                    right: -7px;
                }
            }

            &--3 {
                bottom: -80px;
                left: -21px;

                @media (min-width: $sm){
                    left: -50px;
                    bottom: 60px;
                }

                @media (min-width: $md){
                    left: -100px;
                }

                &::after {
                    bottom: -15px;
                    left: -5px;
                }
            }

            &--4 {
                bottom: -150px;
                right: -20px;

                @media (min-width: $sm){
                    right: -50px;
                    bottom: -30px;
                }

                @media (min-width: $md){
                    right: -100px;
                }                

                &::after {
                    bottom: -15px;
                    right: -7px;
                }
            }

            &--5 {
                bottom: -60px;
                left: -15px;

                @media (min-width: $sm){
                    left: -50px;
                }

                @media (min-width: $md){
                    left: -100px;
                }

                &::after {
                    bottom: -15px;
                    left: -11px;
                }
            }

            &--6 {
                bottom: -60px;
                right: -20px;

                @media (min-width: $sm){
                    right: -50px;
                    bottom: -100px;
                    padding: 40px;
                }

                @media (min-width: $md){
                    right: -100px;
                }

                &::after {
                    bottom: -15px;
                    right: -5px;
                    background: url(../img/aboutus-last-card-img.png) no-repeat;
                    background-size: 10px 10px;
                    background-position: center;
                    background-color: $white;

                    @media (min-width: $sm){
                        height: 40px;
                        width: 40px;
                        background-size: 25px 25px;
                    }

                     @media (min-width: $md){
                        height: 50px;
                        width: 50px;
                        background-size: 30px 30px;
                    }
                }
            }

        }
        
        &--1 {
            background: url('../img/process-section1-bgimg.png') no-repeat 0 0;
            background-size: cover;
            background-position: center;
        }

        &--2 {
            background: url('../img/process-section2-bgimg.png') no-repeat 0 0;
            background-size: cover;
            background-position: center;
        }
        
        &--3 {
            background: url('../img/process-section3-bgimg.png') no-repeat;
            background-size: cover;
            background-position: center;
            
            @media (max-width: $sm){
                height: 220px;
            }

            @media (min-width: $sm){
                height: 410px;
            }

        }
        
        &--4 {
            background: url('../img/process-section4-bgimg.png') no-repeat;
            background-size: cover;
            background-position: center;
            height: 220px;
            
            @media (min-width: $sm){
                height: 410px;
            }
        }
        &--5 {
            background: url('../img/process-section5-bgimg.png') no-repeat;
            background-size: cover;
            background-position: center;

            @media (max-width: $sm){
                height: 380px;
            }
        }
        &--6 {
            background: url('../img/process-section6-bgimg.png') no-repeat;
            background-size: cover;
            background-position: center;
            height: 270px;
            
            @media (min-width: $sm){
                height: 375px;
            }
        }
        
    }

}