.factspan-banner {

    overflow: hidden;

    &__tag-line {
        text-align: center;
        text-transform: uppercase;
        margin-top: 0;
        @include font-style( $oswald-light, 16px, $banner-textcolor );

        @media (min-width: $sm){
            @include font-style( $oswald-extralight, 20px, $banner-textcolor );            
        }

        @media (min-width: $sm){
            font-size: 24px;
        }

    }

    &__tag-container {
        position: absolute;
        top: 190px;

        @media (min-width: $sm){
            top: 320px;
        }

        @media (min-width: $md){
            top: 420px;
        }

    }

    &__section {
            
        height: 270px;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (min-width: $sm){
            height: 445px;
        }

        @media (min-width: $md){
            height: 570px;
        }

        &__content {
            margin: 0 auto;
            z-index: 2;
            border-left: 3px solid $white;
            padding-left: 5px;

            @media (min-width: $sm){
                padding-left: 15px;
            }

        }

        &__heading {
            text-transform: uppercase;
            @include font-style( $oswald-regular, 18px, $banner-textcolor );
            margin: 0;

            @media (min-width: $sm){
                font-size: 39px;
            }

            @media (min-width: $sm){
                font-size: 50px;
            }

        }

        &__sub-heading {
            display: block;
            margin-top: 10px;
            padding-right: 5px;
            text-transform: capitalize;

            @include font-style( $raleway-regular, 12px, $banner-textcolor );
            line-height: 16px;

            @media (min-width: $sm){
                font-size: 15px;
                line-height: 22px;
                width: 60%;
            }

            @media (min-width: $md){
                font-size: 20px;
                line-height: 26px;
            }
        }

        &--1 {

            position: relative;

            background: url('../img/banner-section1-bg.png') no-repeat 0 0;
            background-size: cover;
            background-position: center;

            &::before {
                content: "";
                position: absolute;
                z-index: -1;
                bottom: 10px;
                right: 10px;
                width: 500px;
                height: 300px;
            }

            &::after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;

                background: rgb(31,42,84);
                background: -webkit-linear-gradient(90deg, rgba(24, 24, 52, 0.7) 0%, rgba(51, 51, 102, 0.7) 100%);
                background: linear-gradient(90deg, rgba(24, 24, 52, 0.7) 0%, rgba(51, 51, 102, 0.7) 100%);
	            opacity: 0.8; 
            }

        }
        
        &--2 {
            background: url('../img/banner-section2-bg.png') no-repeat;
            background-size: cover;
            background-position: center;

            &:after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;

                background: rgb(235,136,89);
                background: -webkit-linear-gradient(90deg, rgba(218, 66, 57, 0.7) 0%, rgba(232, 109, 49, 0.7) 100%);
                background: linear-gradient(90deg, rgba(218, 66, 57, 0.7) 0%, rgba(232, 109, 49, 0.7) 100%);
	            opacity: 0.8;
            }

        }

    }
    
}

.factspan-banner2 {

     &__tag-line {
        text-align: center;
        text-transform: uppercase;
        margin-top: 0;
        @include font-style( $oswald-light, 16px, $banner-textcolor );

        @media (min-width: $sm){
            @include font-style( $oswald-extralight, 20px, $banner-textcolor );            
        }

        @media (min-width: $sm){
            font-size: 24px;
        }

    }

    &__tag-container {
        position: absolute;
        top: 190px;

        @media (min-width: $sm){
            top: 320px;
        }

        @media (min-width: $md){
            top: 420px;
        }

    }
    
    &__image-container {
        width: 100%;
        height: 270px;
        position: relative;
        background: lightgrey;
        overflow: hidden;
        
        @media (min-width: $sm){
            height: 445px;
        }

        @media (min-width: $md){
            height: 570px;
        }
    }

    &__image-left,
    &__image-right {
        position: absolute;
        height: 100%;
        width: 60%;
        transform: skewX(-12deg);
        background: white;
        overflow: hidden;
        top:0;
        border: 0px solid white;
        border-top: 0;
        border-bottom: 0;
        
        &::after {
            transform: skewX(12deg);
            position: absolute;
            width: 120%;
            height: 100%;
            display: block;
            top: 0;
            content: "";
        }

    }

    &__image-left {
        right: 50%;
        display: flex;
        justify-content: center;

        .factspan-banner2__section__content {
            top: 80px;
            width: 140px;

            @media (max-width: $xs){
                transform: skew(12deg) translate(30%, 0%); 
            }

            @media (min-width: $sm){
                top: 120px;
                width: 300px;
                transform: skew(12deg) translate(40%);
            }

            @media (min-width: $md){
                top: 150px;
                width: 400px;
                transform: skew(12deg) translate(40%,40%);
            }
        }

        &::after {
            right: -93px;
            background: url("../img/banner-section1-bg.png") no-repeat center center;
            background-size: cover;
             @media (max-width: $xs){
                transform: scale(1.5);
            }
        }
        &::before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;

                background: rgb(31,42,84);
                background: -webkit-linear-gradient(90deg, rgba(24, 24, 52, 0.7) 0%, rgba(51, 51, 102, 0.7) 100%);
                background: linear-gradient(90deg, rgba(24, 24, 52, 0.7) 0%, rgba(51, 51, 102, 0.7) 100%);
	            opacity: 0.8;
                z-index: 20;
            }
    }

    &__image-right {
        left: 49.5%;
        display: flex;
        align-items: center;
        justify-content: center;

        .factspan-banner2__section__content {
            top: 80px;
            width: 140px;
            
            @media (min-width: $sm){
                top: 120px;
                width: 300px;
            }

            @media (min-width: $md){
                top: 150px;
                width: 400px;
                transform: skew(12deg) translate(10%, 30%);
            }

        }

        &::after {
            left: -93px;
            background: url("../img/banner-section2-bg.png") no-repeat center center;
            background-size: cover;
             @media (max-width: $xs){
                transform: scale(1.4);
            }
        }
         &::before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;

                background: rgb(235,136,89);
                background: -webkit-linear-gradient(90deg, rgba(218, 66, 57, 0.7) 0%, rgba(232, 109, 49, 0.7) 100%);
                background: linear-gradient(90deg, rgba(218, 66, 57, 0.7) 0%, rgba(232, 109, 49, 0.7) 100%);
	            opacity: 0.8;
                z-index: 20;
            }
    }

    &__section {
         &__content {
            position: absolute;
            border-left: 3px solid $white;
            padding-left: 5px;
            z-index: 90;
            position: absolute;
            transform: skew(12deg);

            @media (min-width: $sm){
                padding-left: 15px;
            }

        }

        &__heading {
            text-transform: uppercase;
            @include font-style( $oswald-regular, 18px, $banner-textcolor );
            margin: 0;

            @media (min-width: $sm){
                font-size: 39px;
            }

            @media (min-width: $sm){
                font-size: 50px;
            }

        }

        &__sub-heading {
            display: block;
            margin-top: 10px;
            padding-right: 5px;
            text-transform: capitalize;

            @include font-style( $raleway-regular, 12px, $banner-textcolor );
            line-height: 16px;

            @media (min-width: $sm){
                font-size: 15px;
                line-height: 22px;
                width: 60%;
            }

            @media (min-width: $md){
                font-size: 20px;
                line-height: 26px;
            }
        }
    }

}