.factspan-contact {
    margin-bottom: 40px;
    
    &__title {
        @include font-style( $oswald-regular, 20px, $darkblue);
        text-align: center;
        text-transform: uppercase;
        margin-top: 10px;
        margin-bottom: 50px;
        @media (min-width: $sm){
            font-size: 22px;
            line-height: 36px;
        }
    }

    &__card {
        background-color: $white;
        padding: 20px 25px;
        margin-bottom: 60px;
        box-shadow: $card-boxshadow;

        @media (min-width: $sm){
            padding: 65px 60px;
        }
        
        &__heading {
            @include font-style( $oswald-regular, 14px, $darkblue);
            line-height: 20px;
            margin-top: 0;
            font-weight: 600;
            width: 170px;
            text-transform: uppercase;

            @media (min-width: $sm){
                 width: 300px;
                font-size: 22px;
                line-height: 36px;
            }
        }
        &__sub-heading {
            @include font-style( $raleway-regular, 12px, $darkblue);
            line-height: 20px;
            opacity: 0.6;
            @media (min-width: $sm){
                @include font-style( $raleway-light, 16px, $darkblue);
                line-height: 30px;
            }
        }

    }

    &__form {
        padding-top: 30px;
        display: flex;
        &__form-field {
            border: 0;
            outline: 0;
            flex: 2 2 auto;
            opacity: 0.55;
            border-bottom: 2px solid $textcolor-orange;
            @include font-style( $oswald-extralight, 12px, $lightgray);
            @media (min-width: $sm){
                font-size: 22px;
                line-height: 38px;
            }
        }
        &__submit-btn {
            padding: 10px;
            background-color: $textcolor-orange;
            @include font-style( $oswald-regular, 12px, $white);
            border: 0;
            outline: 0;
            text-transform: uppercase;
            cursor: pointer;
            @media (min-width: $sm){
                font-size: 20px;
                line-height: 36px;
            }
            @media (min-width: $md){
                font-size: 22px;
                line-height: 38px;
            }
        }
    }

}