.factspan-explore {
    margin-bottom: 80px;

    @media (min-width: $sm){
        margin: 0 40px 80px 40px;
    }

    &__title {
        @include font-style( $oswald-regular, 20px, $darkblue);
        text-align: center;
        text-transform: uppercase;
        margin-top: 10px;
        margin-bottom: 50px;
        @media (min-width: $sm){
            font-size: 22px;
        }
    }

    &__section-1 {
        height: 170px;
        padding: 10px;

        @media (min-width: $sm){
            padding: 50px;
            height: 340px;
        }
        
        background: url('../img/explore-bgimg.png') no-repeat center center;
        background-size: cover;

        &::before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;

                background: $explore-gradientcolor;
                background: -webkit-linear-gradient(180deg,$explore-gradientcolor,$explore-gradientcolor);
                background: linear-gradient(180deg,$explore-gradientcolor,$explore-gradientcolor);
	            opacity: 0.8;
        }

        &::after {
                content: '';
                position: absolute;
                top: -10px;
                right: -10px;
                width: 25px;
                height: 25px;
                background-color: $white;
                box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.075);

                @media (min-width: $sm){
                    top: -20px;
                    right: -20px;
                    width: 45px;
                    height: 45px;
                    background-color: rgb(95,95,133);
                }
        }

        &__title {
            z-index: 80;
            @include font-style( $oswald-regular, 14px, $banner-textcolor );
            line-height: 48px;
            text-transform: uppercase;
            margin: 0;
            position: relative;

            @media (min-width: $sm){
                font-size: 22px;
            }
        }

        &__content {
            @include font-style( $raleway-regular, 12px, $banner-textcolor );
            line-height: 20px;
            position: relative;
            width: 70%;
            @media (min-width: $sm){
                font-size: 14px;
                opacity: 0.6;
            }
        }

    }

    &__section-2 {
        height: 170px;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        position: relative;
        transition: all 300ms ease-out;

        @media (min-width: $sm){
            align-items: center;
        }

        @media (min-width: $sm){
            height: 300px;
        }

        &__links,
        &__links:active,
        &__links:focus {
            @include font-style( $oswald-regular, 14px, $textcolor-darkblue );
            text-transform: uppercase;
            padding-left: 7px;
            margin-left: 5px;
            margin-bottom: 5px;
            width: 80px;
            border-left: 2px solid $textcolor-orange;
            transition: all 300ms ease-out;

            @media (min-width: $sm){
                font-size: 20px;
                width: 80px;
                line-height: 37px;
                margin-bottom: 20px;
            }

        }

        &__links:hover {
            position: relative;
            bottom: 0px;
            left: -40px;
            padding: 10px;
            margin-left: 5px;
            text-align: center;
            height: 40px;
            width: 100px;
            color: $white;
            border: 0;
            background-color: $textcolor-orange;
            transition: all 500ms ease-out;

            @media (min-width: $sm){
                font-size: 20px;
                line-height: 37px;
                height: 70px;
                width: 220px;
                padding: 15px;
            }

                &::before {
                    content: '';
                    width: 15px;
                    height: 15px;
                    position: absolute;
                    color: $white;
                    background-color: $textcolor-orange;
                    top: -5px;
                    left: -10px;
                    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.075);
                    @media (min-width: $sm){
                        font-size: 20px;
                        line-height: 37px;
                        padding: 10px;
                        height: 30px;
                        width: 30px;
                    }
                }
        }

    }

}