.factspan-footer {

    padding: 30px;

    display: flex;
    flex-wrap: wrap;

    background-color: $mobile-bgcolor;
	@media (min-width: $sm){
		background-color: $tablet-bgcolor;
	}
	@media (min-width: $md){
		background-color: $desktop-bgcolor;
	}

    position: relative;
    top: 10px;

    &__logo {
        height: 25px;
    }

    &__company-name {
        color: $textcolor-footer;
        text-transform: uppercase;
        opacity: 0.5;
        padding-left: 10px;
        margin: 0;
    }

    &__company {
        order: 1;
        flex: 1 1 50%;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        @media (min-width: $sm){
         flex: 0 0;
        }

    }

    &__social {
        order: 2;    
        flex: 1 1 50%;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 0px;
        
        li {
            margin-right: 15px;
        }
        
        @media (min-width: $sm){
         order: 3;
         flex: 0 0;
        }

    }

    &__copyright {
        order: 3;
        flex: 2 2;
        padding-top: 15px;
        text-align: center;
        &__text {    
            @include font-style( $raleway-regular, 12px, $textcolor-footer );
            line-height: 6px;
            @media (min-width: $sm){
                text-align: left;
                margin-left: 60px;
            }
        }
        
        @media (min-width: $sm){
         order: 2;
        }
    } 

    &__social-link,
    &__social-link:hover,
    &__social-link:focus,
    &__social-link:active {
        color: $textcolor-footer;
        font-size: 20px;
    }

}