.factspan-testimonials {
    padding: 20px 0;
    position: relative;
    margin-bottom: 50px;
    &__title {
        @include font-style( $oswald-regular, 20px, $darkblue);
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 80px;
        padding-top: 60px;
        @media (min-width: $sm){
            font-size: 22px;
            line-height: 36px;
            padding-top: 80px;
        }
    }
    &__card {
        background-color: $textcolor-orange;
        color: white;
        padding: 10px;
        text-align: center;
    
        &::before {
            position: absolute;
            top: -25px;
            font-family: "FontAwesome";
            content: '\f10d ';
            color: $white;
            background: inherit;
            font-size: 20px;
            padding: 5px;
            transform: translate(-40%, 0);
            height: 40px;
            width: 40px;
            box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.075);
        }
    }
    &__slider {
        color: $white;
        text-align: center;

        &__title {
            @include font-style( $raleway-regular, 16px, $white);
            line-height: 48px;
            font-weight: 600;
            text-transform: uppercase;
        }
        &__content {
            @include font-style( $raleway-lightitalic, 14px, $white);
            line-height: 25px;
            font-weight: 300;
            font-style: italic;
            width: 80%;
            margin: 0 auto;

            @media (min-width: $sm){
                width: 520px;
            }

        }
        &__client-name {
            @include font-style( $raleway-regular, 16px, $white);
            text-transform: capitalize;
            font-weight: 600;
            margin-bottom: 5px;
        }

        &__client-designation {
            @include font-style( $raleway-light, 12px, $white);
            text-transform: capitalize;
            margin-bottom: 5px;
        }

    }
}