.factspan-whatwedo {
        padding: 10px 20px;
        &__card {
            background-color: $white;
            margin-bottom: 45px;
            position: relative;
            top: -60px;
            box-shadow: $card-boxshadow;

            &::before {
                content: '';
                height: 23px;
                width: 23px;
                position: absolute;
                background-color: $white;
                box-shadow: $card-boxshadow;

                @media (min-width: $sm){
                    height: 35px;
                    width: 35px;
                }

            }

            &--1 {
                
                padding: 20px;
                @media (max-width: $xs){
                    margin: 15px 0 45px 0;
                }
                margin: 0 15px 45px;
                
                &::before {
                    top: -12px;
                    left: -10px;
                }

                @media (min-width: $sm){
                    padding: 45px 45px 0 45px;
                    margin: 0 0 45px 0;
                }

                @media (min-width: $md){
                    padding: 55px;
                }

                .slick-dotted.slick-slider {
                    @media (min-width: $md){
                        margin: 0;
                    }
                }

            }
            &--2 {

                padding: 20px;

                &::before {
                    top: -12px;
                    right: -10px;
                }
                @media (min-width: $sm){
                    padding: 50px 54px 20px 43px; 
                }

                .factspan-whatwedo__img {
                    @media (min-width: $sm) {
                        position: absolute;
                        top: 60px;
                        left: 0;
                        transform: translate(-120%);
                    }
                    @media (min-width: $md) {
                        position: absolute;
                        top: 60px;
                        left: 0;
                        transform: translate(-160%);
                    }
                }
                
            }
        }

        &__slider {
            margin-top: 20px;
            @media (min-width: $sm){
                margin-top: 0;
            }
        }

        &__slider-1 {

            .factspan-whatwedo__content {
                margin-top: 0;
                @media (min-width: $sm){
                    width: 50%;
                    float: left;
                    transform: translateY(50%);
                }
                @media (min-width: $md){
                    margin-top: 0px;
                }
            }

        }

        &__slider-2 {

            &__img {
                width: 100%;
                @media (min-width: $md) {
                    width: 220px;
                    height: 180px;
                    margin: 15px auto;
                }
            }

            .slick-dots {
                transform: rotate(90deg);
                right: -150px;
                top: 90px;
                bottom: auto;
            }

        }

        &__heading {
            @include font-style( $raleway-regular, 16px, $darkblue );
            margin: 0;
            font-weight: 600;

            @media (min-width: $sm){
                @include font-style( $raleway-light, 30px, $darkblue );
            }

            @media (min-width: $sm){
                font-size: 33px;
                line-height: 48px;
            }

            span {
                @include font-style( $raleway-regular, 16px, $darkblue );
                display: inline;   
                color: $textcolor-orange;
                 @media (min-width: $sm){
                    @include font-style( $raleway-light, 30px, $textcolor-orange );
                }
            }

        }
        &__sub-heading {
            @include font-style( $raleway-regular, 16px, $darkblue );
            margin: 0;
            line-height: 23px;
            font-weight: 600;
            
            @media (min-width: $sm){
                @include font-style( $raleway-light, 30px, $darkblue );
                margin-bottom: 30px;
            }

            span {
                @include font-style( $raleway-regular, 16px, $darkblue );
                display: inline;   
                color: $textcolor-orange;
                 @media (min-width: $sm){
                    @include font-style( $raleway-light, 30px, $textcolor-orange );
                    line-height: 42px;
                }
            }
        }
        &__content {
            @include font-style( $raleway-regular, 12px, $darkblue );
            line-height: 23px;
            margin-top: 20px;

            @media (min-width: $sm){
                @include font-style( $raleway-light, 14px, $darkblue );
            }

        }

         &__img {
            height: 151px;
            margin: 0 auto;
            display: block;

            @media (min-width: $sm){
                height: 190px;
            }

         }

         &__detail {
             @include font-style( $raleway-regular, 12px, $textcolor-orange );
             margin-bottom: 30px;
             font-weight: 600;

             @media (min-width: $sm){
                 font-size: 14px;
             }
         }

        &__statistics {

            display: flex;
            justify-content: space-between;

            &__data-1 {
                display: inline-block;
                @include font-style( $oswald-regular, 64px, $darkblue );

                @media (min-width: $sm){
                    font-size: 85px;
                }

                @media (min-width: $md){
                    font-size: 89px;
                }

            }
            
            &__data-2 {
                display: inline-block;
                span {
                    display: block;

                    &:first-child {
                        text-align: center;
                        @include font-style( $oswald-light, 27px, $textcolor-grey );
                    }

                    &:last-child {
                        margin-left: 10px;
                        text-align: center;
                        text-transform: uppercase;

                        @include font-style( $oswald-regular, 13px, $textcolor-grey );

                        @media (min-width: $sm){
                            font-size: 20px;
                        }
                        
                        @media (min-width: $md){
                            font-size: 22px;
                        }

                    }
                    
                }
            }

            &__img {
                height: 70px;
                width: 90px;
                margin-left: 20px;
                margin-top: 10px;
            }

        }

}