//Common styles which can be used in any page

*, 
*::before,
*::after {
    box-sizing: border-box;
}

body {
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
}

main {
	position: relative;
    top: 55px;
	background-color: $mobile-bgcolor;

	@media (min-width: $sm){
		background-color: $tablet-bgcolor;
	}

	@media (min-width: $md){
		background-color: $desktop-bgcolor;
	}
	
}

.show {
	max-height: 180px !important;
}

.bottom-padding-2 {
	padding-bottom: 20px !important;
}

.no-horizontal-padding {
	padding-left: 0 !important;
	padding-right: 0 !important;
}