@import "base-styles";

@font-face {
  font-family: 'Raleway-light';
  src: url('../fonts/Raleway/raleway-light.eot');
  src: url('../fonts/Raleway/raleway-light.woff') format('woff'),
       url('../fonts/Raleway/raleway-light.svg#raleway-light') format('svg');
}

@font-face {
  font-family: 'Raleway-lightitalic';
  src: url('../fonts/Raleway/raleway-lightitalic.woff') format('woff');
}

@font-face {
  font-family: 'Raleway-regular';
  src: url('../fonts/Raleway/raleway-regular.eot');
  src: url('../fonts/Raleway/raleway-regular.woff') format('woff'),
       url('../fonts/Raleway/raleway-regular.svg#Raleway-regular') format('svg');
 // font-weight: normal;
 // font-style: normal;
}

@font-face {
  font-family: 'Oswald-regular';
  src: url('../fonts/oswald/oswald-regular.eot');
  src: url('../fonts/oswald/oswald-regular.woff2') format('woff2'),
       url('../fonts/oswald/oswald-regular.woff') format('woff');

 // font-weight: normal;
 // font-style: normal;
}

@font-face {
  font-family: 'Oswald-medium';
  src: url('../fonts/Oswald/oswald-medium.eot');
  src: url('../fonts/Oswald/oswald-medium.woff') format('woff');

 // font-weight: normal;
 // font-style: normal;
}

@font-face {
  font-family: 'Oswald-light';
  src: url('../fonts/oswald/oswald-light.eot');
  src: url('../fonts/oswald/oswald-light.woff') format('woff'),
       url('../fonts/oswald/oswald-light.woff') format('woff2'),
       url('../fonts/Raleway/raleway-regular.svg#Raleway-regular') format('svg'),
       url('../fonts/oswald/oswald-light.ttf') format('ttf');

 // font-weight: normal;
 // font-style: normal;
}

@font-face {
  font-family: 'Oswald-extralight';
  src: url('../fonts/oswald/oswald-extralight.eot');
  src: url('../fonts/oswald/oswald-extralight.woff') format('woff'),
       url('../fonts/oswald/oswald-extralight.ttf') format('ttf');

 // font-weight: normal;
 // font-style: normal;
}

@font-face {
  font-family: 'fontawesome';
  src: url('../fonts/fontawesome-webfont.eot');
  src: url('../fonts/fontawesome-webfont.woff2') format('woff2'),
       url('../fonts/fontawesome-webfont.woff') format('woff'),
       url('../fonts/fontawesome-webfont.svg#fontawesome') format('svg');

 // font-weight: normal;
 // font-style: normal;
}