//Variables used in the project

/*Color styles*/
$white: #ffffff;

$gray-2: #999;
$lightgray: #999999;

$black: #333333;
$lightblack: #666666;

$banner-textcolor: #fefefe;

$mobile-bgcolor: #f5f5f5;
$tablet-bgcolor: #ffffff;
$desktop-bgcolor: #f5f5f5;

$explore-gradientcolor: #4e4e7a;

$sidenav-textcolor: #333366;

$darkblue: #333366;

$textcolor-footer: #cccccc;
$textcolor-grey: #b2b2b2;
$textcolor-orange: #e6642b;
$textcolor-darkblue: #333366;

$card-boxshadow: 0px 0px 33px -12px #333;

$boxshadow-color: rgba(0, 0, 0, 0.075);

/*END: Color styles*/

/*Font styles*/

$raleway-light: 'Raleway-light';
$raleway-lightitalic: 'Raleway-lightitalic';
$raleway-regular: 'Raleway-regular';

$oswald-medium: 'Oswald-medium';
$oswald-regular: 'Oswald-regular';
$oswald-light: 'Oswald-light';
$oswald-extralight: 'Oswald-extralight';

/*END: Font styles*/

/*
  Media Query variables
*/
$xs: 480px;
$sm: 767px;
$md: 992px;



