footer.factspan-footer
    .factspan-footer__company
        a(href="javascript:void(0);")
            img.factspan-footer__logo(src="img/transparent-logo.png")
        p.factspan-footer__company-name
            | factspan
    ul.factspan-footer__social
        li
            a(href="javascript:void(0);").factspan-footer__social-link
                span.factspan-footer__social-icon
                    i.fa.fa-twitter

        li
            a(href="javascript:void(0);").factspan-footer__social-link
                span.factspan-footer__social-icon
                    i.fa.fa-facebook
        li
            a(href="javascript:void(0);").factspan-footer__social-link
                span.factspan-footer__social-icon
                    i.fa.fa-instagram
    .factspan-footer__copyright
        p.factspan-footer__copyright__text
            | &copy; Factspan 2002 - 2017. All rights reserved.