section.factspan-aboutus
    .container
        .row
            .col-xs-12.no-horizontal-padding
                h1.factspan-aboutus__title
                    |   we span the entire spectrum of big data analytics.
                img.factspan-aboutus__logo(src="img/transparent-logo.png")
            .col-xs-12
                ul.factspan-aboutus__features-list
                    li.factspan-aboutus__feature.factspan-aboutus__feature--1
                        .factspan-aboutus__feature__content-card.factspan-aboutus__feature__content-card--1
                            h1.factspan-aboutus__feature__heading
                                | data engineering
                            p.factspan-aboutus__feature__details
                                | We'll design an infrastructure to make analysis and data processing efficient, 
                                | then help you cope with growing pools of data without compromising on accessibility.
                    li.factspan-aboutus__feature.factspan-aboutus__feature--2
                        .factspan-aboutus__feature__content-card.factspan-aboutus__feature__content-card--2
                            h1.factspan-aboutus__feature__heading
                                | descriptive
                            p.factspan-aboutus__feature__details
                                | Through advanced visualizations and reporting. we'll help you understand what has happened 
                                | historically in your business and what is happening at this moment - so you can react and respond later.
                    li.factspan-aboutus__feature.factspan-aboutus__feature--3
                        .factspan-aboutus__feature__content-card.factspan-aboutus__feature__content-card--3
                            h1.factspan-aboutus__feature__heading
                                | diagnostic
                            p.factspan-aboutus__feature__details
                                | Powerful insights begin with patterns. Our experts will help you find the trends in your large scale historic data.
                                | Improving your knowledge of change, performance and efficiency.
                    li.factspan-aboutus__feature.factspan-aboutus__feature--4
                        .factspan-aboutus__feature__content-card.factspan-aboutus__feature__content-card--4
                            h1.factspan-aboutus__feature__heading
                                | predictive
                            p.factspan-aboutus__feature__details
                                | The best decisions are made early. So we'll give you increased foresight, using machine learning to make informed,
                                | statistically-robust predictions about what will happen next.
                    li.factspan-aboutus__feature.factspan-aboutus__feature--5
                        .factspan-aboutus__feature__content-card.factspan-aboutus__feature__content-card--5
                            h1.factspan-aboutus__feature__heading
                                | prescriptive
                            p.factspan-aboutus__feature__details
                                | Know what to do next. Using machine learning and artifical intelligence, we can assess 
                                | historic pattern, every potential opportunity and risk, then advise you on what you should do.
                     li.factspan-aboutus__feature.factspan-aboutus__feature--6
                        .factspan-aboutus__feature__content-card.factspan-aboutus__feature__content-card--6
                            p.factspan-aboutus__feature__details.factspan-aboutus__feature__details--6
                                | And, crucially we are flexible. With a skillset like ours,
                                span
                                    | we've become trusted problem solvers for a wide range of challenges, 
                                | obstacles, and organisational goals.