//- section.factspan-banner
//-     .container-fluid
//-         .row
//-             .col-xs-6.factspan-banner__section.factspan-banner__section--1
//-                 .row.factspan-banner__section__content
//-                     h3.factspan-banner__section__heading are you 
//-                     p.factspan-banner__section__sub-heading
//-                         | looking for insights for success ?
//-             .col-xs-6.factspan-banner__section.factspan-banner__section--2
//-                 .row.factspan-banner__section__content
//-                     h3.factspan-banner__section__heading we unlock 
//-                     p.factspan-banner__section__sub-heading 
//-                         | the intelligence that's hidden in your data.
//-             .col-xs-12.factspan-banner__tag-container
//-                 h1.factspan-banner__tag-line we empower strategic decision-making.
section.factspan-banner2
    .container-fluid.no-horizontal-padding
        .factspan-banner2__image-container
            .col-xs-6.factspan-banner2__image-left
                .row.factspan-banner2__section__content
                    h3.factspan-banner2__section__heading are you 
                    p.factspan-banner2__section__sub-heading
                        | looking for insights for success ?
            .col-xs-6.factspan-banner2__image-right
                .row.factspan-banner2__section__content
                    h3.factspan-banner2__section__heading we unlock 
                    p.factspan-banner2__section__sub-heading 
                        | the intelligence that's hidden in your data.
            .col-xs-12.factspan-banner2__tag-container
                h1.factspan-banner2__tag-line we empower strategic decision-making.
