section.factspan-contact
    .container
        .row
            .col-xs-12
                h1.factspan-contact__title
                    | contact
            .col-xs-12.col-md-10.col-md-offset-2
                .factspan-contact__card
                    h1.factspan-contact__card__heading
                        | let's talk about goals and how we can achieve them.
                    p.factspan-contact__card__sub-heading
                        | Contact us now to get started
                    form.factspan-contact__form
                        input.factspan-contact__form__form-field(type="email", placeholder="ENTER YOUR E-MAIL ADDRESS" ,required)
                        input.factspan-contact__form__submit-btn(type="submit", value="get in touch")
                    