section.factspan-explore
    .container-fluid
        .row
            .col-xs-12
                h1.factspan-explore__title explore
            .col-xs-12
                .row
                    .col-xs-9.col-sm-10.no-horizontal-padding
                        .factspan-explore__section-1
                            h2.factspan-explore__section-1__title
                                | explore we can help you
                            p.factspan-explore__section-1__content
                                | From essential resources to personalised advices on the challenges your industry faces.
                    .col-xs-3.col-sm-2.no-horizontal-padding
                        .factspan-explore__section-2
                            a.factspan-explore__section-2__links(href="javascript:void(0);")
                                | offerings
                            a.factspan-explore__section-2__links(href="javascript:void(0);")
                                | career
                            a.factspan-explore__section-2__links(href="javascript:void(0);")
                                | process
                
