section.factspan-testimonials
    .container
        .row
            .col-sm-12
                h1.factspan-testimonials__title
                    |   testimonials
            .col-sm-12
                .factspan-testimonials__card
                    .factspan-testimonials__slider-container
                        .factspan-testimonials__slider
                            h2.factspan-testimonials__slider__title
                                | we solve problems
                            p.factspan-testimonials__slider__content
                                |  "we liked the working standards of Factspan and the data research they had undergone and the way they implemented on the solutions has taken our company to the next level."
                            .factspan-testimonials__slider__client-details
                                h3.factspan-testimonials__slider__client-name
                                    | goutham krishna
                                p.factspan-testimonials__slider__client-designation
                                    | CEO, Flipkart
                        .factspan-testimonials__slider
                            h2.factspan-testimonials__slider__title
                                | we solve problems
                            p.factspan-testimonials__slider__content
                                |  "we liked the working standards of Factspan and the data research they had undergone and the way they implemented on the solutions has taken our company to the next level."
                            .factspan-testimonials__slider__client-details
                                h3.factspan-testimonials__slider__client-name
                                    | goutham krishna
                                p.factspan-testimonials__slider__client-designation
                                    | CEO, Flipkart
                        .factspan-testimonials__slider
                            h2.factspan-testimonials__slider__title
                                | we solve problems
                            p.factspan-testimonials__slider__content
                                |  "we liked the working standards of Factspan and the data research they had undergone and the way they implemented on the solutions has taken our company to the next level."
                            .factspan-testimonials__slider__client-details
                                h3.factspan-testimonials__slider__client-name
                                    | goutham krishna
                                p.factspan-testimonials__slider__client-designation
                                    | CEO, Flipkart
                        
