section.factspan-whatwedo
    .container
          .row
            .col-sm-8.col-md-6.factspan-whatwedo__card.factspan-whatwedo__card--1
              h1.factspan-whatwedo__heading
                | We turn 
                span data into results
              .factspan-whatwedo__slider
                    .factspan-whatwedo__slider-1
                      p.factspan-whatwedo__content  Using bayesian classifiers, we created an API that categorised images with
                      .factspan-whatwedo__statistics.row.no-horizontal-padding
                        .factspan-whatwedo__statistics-1
                          p.factspan-whatwedo__statistics__data-1 97
                          p.factspan-whatwedo__statistics__data-2
                            span %
                            span accuracy
                        .factspan-whatwedo__statistics-2
                          img.factspan-whatwedo__statistics__img.visible-xs(src='img/banner-card-img2.png')
                    .factspan-whatwedo__slider-1
                      p.factspan-whatwedo__content  Using bayesian classifiers, we created an API that categorised images with
                      .factspan-whatwedo__statistics.row.no-horizontal-padding
                        .factspan-whatwedo__statistics-1
                          p.factspan-whatwedo__statistics__data-1 97
                          p.factspan-whatwedo__statistics__data-2
                            span %
                            span accuracy
                        .factspan-whatwedo__statistics-2
                          img.factspan-whatwedo__statistics__img.visible-xs(src='img/banner-card-img2.png')
                    .factspan-whatwedo__slider-1
                      p.factspan-whatwedo__content  Using bayesian classifiers, we created an API that categorised images with
                      .factspan-whatwedo__statistics.row.no-horizontal-padding
                        .factspan-whatwedo__statistics-1
                          p.factspan-whatwedo__statistics__data-1 97
                          p.factspan-whatwedo__statistics__data-2
                            span %
                            span accuracy
                        .factspan-whatwedo__statistics-2
                          img.factspan-whatwedo__statistics__img.visible-xs(src='img/banner-card-img2.png')
            .col-sm-4.col-md-6
              ul.factspan-whatwedo__slider-2.hidden-xs
                    li
                      img.factspan-whatwedo__slider-2__img.hidden-xs(src='img/banner-card-img2.png')
                    li
                      img.factspan-whatwedo__slider-2__img.hidden-xs(src='img/banner-card-img2.png')
                    li
                      img.factspan-whatwedo__slider-2__img.hidden-xs(src='img/banner-card-img2.png')
          .row.no-horizontal-padding
            .col-sm-8.col-sm-offset-4
              .factspan-whatwedo__card.factspan-whatwedo__card--2
                h1.factspan-whatwedo__heading  Factspan is a diverse,
                p.factspan-whatwedo__sub-heading
                  span multi-disciplined
                  |  team.
                p.factspan-whatwedo__content
                  | One that understands business just as well as we understand Big Data analytics. You&apos;ll get tailored visualizations to make data more digestible and personal advice on how that data can inform your strategy.
                p.factspan-whatwedo__detail  It&apos;s a tailored approach for more tangible, high-quality performance.
                img.factspan-whatwedo__img(src='img/banner-card-img1.png')