.factspan-whatwedo__slider,
.factspan-whatwedo__slider-2 {
    .slick-dots li {
        margin-right: 20px;
    }
    .slick-dots li.slick-active button:before {
        background-color: $darkblue;
        opacity: 1;
    }
    .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 30px;
        height: 4px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        background-color: $textcolor-orange;
        opacity: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.factspan-testimonials__slider-container {
    .slick-dots li button:before {
        color: $white;
    }
    .slick-dots li.slick-active button::before {
        color: $white;
    }
}
.factspan-whatwedo__slider {
    .slick-dots {
       @media (min-width: $sm){
            display: none !important;
       }
    }
}
.factspan-testimonials__card {
    .slick-dots {
        @media (min-width: $sm){
            visibility: hidden;
        }
    }
    .slick-next.slick-arrow {
        right: 20px;
        visibility: hidden;
        @media (min-width: $sm){
            visibility: visible;
        }
        &::before {
            display: block;
            content: ' ';
            background-image: url('../img/next.svg');
            background-size: 20px 20px;
            height: 20px;
            width: 20px;
        }
    }
    .slick-prev.slick-arrow {
        left: 20px;
        z-index: 30;
        visibility: hidden;

        @media (min-width: $sm){
            visibility: visible;
        }

        &::before {
            display: block;
            content: ' ';
            background-image: url('../img/next.svg');
            background-size: 20px 20px;
            height: 20px;
            width: 20px;
            transform: rotate(180deg);
        }
    }
}