.navbar-default {

    &--whitebg {
        border: 0;
        background-color: $white;
        box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    }

    .navbar-brand {
        img {
            height: 30px;
            @media (min-width: $sm){
                height: auto;
                margin-left: 25px;
                margin-top: 8px;
            }
        }
    }

    .navbar-collapse {
        margin-right: 25px;
    }

    .navbar-toggle,
    .navbar-toggle:hover,
    .navbar-toggle:focus,
    .navbar-toggle:active, {
        border: 0;
        margin-right: 0;
        background-color: $white;
        cursor: pointer;
        
        @media (max-width: $sm){
            margin-top: 12px;
        }

        .icon-bar {
            height: 3px;
            background-color: $darkblue;
        }
        
        button {
            span {
                color: $darkblue;
            }
        }
    }

    .navbar-right {

        .toggle-sidenav-btn,
        .toggle-sidenav-btn:active,
        .toggle-sidenav-btn:hover,
        .toggle-sidenav-btn:focus {
            color: $darkblue;
        }

        .fa-bars {
            font-size: 24px;
            color: $darkblue;
            @media (min-width: $sm){
                font-size: 34px;
            }
        }
    }

}