.factspan-sidenav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    background-color: $white;
    height: 100vh;
    width: 280px;
    padding: 45px;
    transition: all 400ms ease;
    transform: translate(100%);

    @media (min-width: $xs){
        width: 380px;
    }

    &--show {
        transform: translate(0%);
    }

    &__header {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid lighten($lightgray,35%);
        padding: 0 0 45px 0;

        &__logo {
            height: 27px;
        }

        &__close-btn {

            &,
            &:active,
            &:focus,
            &:hover, {
                position: fixed;
                top: 40px;
                right:50px;
                font-size: 22px;  
                color: $black;
            }

        }

    }

    &__body {
        padding: 35px 0;
    }

    &__links,{
        &,
        &:hover,
        &:focus,
        &:active, {
            @include font-style( $oswald-medium, 18px, $darkblue );
            text-transform: uppercase;
            text-decoration: none;
            padding-bottom: 25px;
            transition: all 300ms ease-out;
        }

        &--expertise,
        &--approach {
            & + ul  {
                overflow-y: hidden;
                max-height: 0;
                transition: all 500ms ease-out;
            }
        }

    }
    &__link-arrow {
        display: inline-block;
        content: ' ';
        background-image: url('../img/right-arrow.svg');
        background-size: 15px 15px;
        height: 15px;
        width: 15px;
        margin-left: 10px;
        transition: all 300ms ease;
        &--rotate {
            transform: rotate(90deg);
        }
    }

    &__sub-links,
    &__sub-links:hover,
    &__sub-links:active,
    &__sub-links:focus {
        @include font-style( $oswald-light, 16px, $darkblue );
        text-transform: uppercase;
        text-decoration: none;
        
        &:last-child {
            padding-left: 15px;
            padding-bottom: 25px;
        }

        &__arrow {
            display: inline-block;
        }

    }

}