doctype html
html(lang='en')

	- var page_name = "Factspan - Homepage"

	include jade/base/header.jade
	+header(page_name)

	body
		header
			include jade/components/navbar.jade
		
		include jade/components/sidenav.jade
		
		main
			include jade/layouts/banner.jade
			include jade/layouts/whatwedo.jade
			include jade/layouts/aboutus.jade
			include jade/layouts/testimonials.jade
			include jade/layouts/explore.jade
			include jade/layouts/contact.jade

		include jade/base/scripts.jade
	
	include jade/base/footer.jade